<% @page_title = "Telbook" %>

<h2>友達一覧</h2>

  <div class="toolbar"><%= link_to "友達の新規登録", :new_friend,class: "link",id: "shinki" %></div>
  <% if @friends.present? %>

      <tbody>

      <% @friends.each do |friend| %>
        <ol>
          <li>
            <div class="index">
            <div class="full_name">
            <%= link_to friend.name, friend %>
            </div>
            <div class="conteiner">
            <%= button_to "編集", [:edit, friend],{method: :get,class: "hoge" } %>
            <%= button_to "削除", friend,{method: :delete,class: "hoge", data: { confirm: "本当に削除しますか?" }}  %>
            </div>
            </div>
          </li>
        </ol>
      <% end %>
      </tbody>

    <%= paginate @friends %>
  <% else %>
    <p>友達データがありません。</p>
  <% end %>

