<% @page_title = "Telbook" %>

<h2>Friend一覧</h2>

  <div class="toolbar"><%= link_to "会員の新規登録", :new_friend %></div>
  <% if @friends.present? %>
<!--    <table class="list">-->
      <thead>
<!--      <tr>-->
<!--        <th>番号</th>-->
<!--        <th>ユーザー名</th>-->
<!--        <th>操作</th>-->
<!--      </tr>-->
      </thead>
      <tbody>

      <% @friends.each do |friend| %>
        <ol>
<!--          <ol style="text-align: right"><%#= friend.id %></ol>-->
          <li><%= friend.id %><%= link_to friend.full_name, friend %>
            <div class="area">
            <%= button_to "編集", [:edit, friend],{method: :get,class: "hoge" } %>
            <%= button_to "削除", friend,{method: :delete,class: "hoge", data: { confirm: "本当に削除しますか?" }}  %>
            </div>
          </li>
        </ol>
      <% end %>

      </tbody>
<!--    </table>-->
    <%= paginate @friends %>
  <% else %>
    <p>会員情報がありません。</p>
  <% end %>

