<% @page_title = "新規作成・編集" %>

<h2><%= @page_title %></h2>
<%= render "shared/errors", obj: @friend%>

<div class="name">
<%= form_for @friend do |form| %>
  <div class ="new">
  <div class="name-field">

    <%= form.text_field :name,:placeholder => "名前"%>
  </div>
  <div class="new-save">
    <%= form.submit :保存,{class: "hoge"} %>
  </div>
  </div>
<% end %>
</div>
<div class="top">
<%= link_to "<<TOPに戻る", :root %>
</div>
