<% @page_title = "新規作成・編集" %>

<h1><%= @page_title %></h1>

<%= form_for @friend do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit :save,{class: "hoge1"} %></div>
<% end %>

<%= menu_link_to "TOP", :root %>
