<% @page_title = "会員の詳細" %>

<h1><%= @page_title %></h1>
<h2><%= @friend.full_name %></h2>

<% if @telephones.present? %>
  <% @telephones.each do |tel| %>
    <h2><%= tel.number %><%= link_to "削除", @friend, method: :delete,
                                       data: { confirm: "本当に削除しますか?" } %></h2>
    <% if tel.cellphone %>
      <h2>携帯</h2>
    <% else %>
     <h2>自宅</h2>

    <% end %>

  <% end %>
  <%= paginate @telephones %>

<% else %>
  <p>記事がありません。</p>

<% end %>
<%= form_tag :new_telephone, method: :get, class: "add" do %>
  <%= text_field_tag "q", params[:q] %>
  <%= hidden_field_tag 'cell', false %>
  <%= check_box_tag "cell",true%>
  <%= submit_tag "add"%>
<% end %>
