<% if flash[:error].present? %>
  <P>エラーがあります</P>
  <!--  <ul class="errors">-->
  <% flash[:error].each do |e| %>
    <p><%= e %></p>
  <% end %>
  <!--  </ul>-->
<% end %>
<% @page_title = "友達の詳細" %>

<div class="friend">
<h2><%= @friend.full_name %>の友達の電話番号リスト</h2>
</div>
<% if @telephones.present? %>
  <ul class="list">
    <% @telephones.each do |tel| %>
      <li class="list-item">
        <span class="num">
        <%= tel.number %>
          <% if tel.cellphone %>
          <%= image_tag "cell.png", size: "20x30", alt: "telephone" %>
        <% end %>
        </span>

        <div class="right">
          <%= button_to "削除", telephone_path(tel.id, friend: @friend_id), { method: :delete, class: "hoge", data: { confirm: "本当に削除しますか?" } } %>
        </div>
      </li>
    <% end %>
<% else %>
  <p>電話番号データがありません。</p>
<% end %>
<div class="chkbox">
  <%= form_for @telephone do |form| %>
    <!--      <li><%#= form.label :number, "電話番号" %></li>-->
    <li class="list-item">
      <div class="left">
      <%= form.text_field :number,:placeholder => "電話番号" %>

      <%= form.check_box :cellphone, {}, "true", "false" %>

      <%= hidden_field_tag :author, @friend_id %>
      </div>
      <div class="right">
        <%= form.submit :追加, class: "hoge" %>
      </div>
    </li>
  <% end %>
</div>
</ul>
<%= paginate @telephones %>

<%= link_to "<< TOPに戻る", :root %>