

<% @page_title = "友達の詳細" %>

<div class="friend">
  <h2><%= @friend.name %></h2>
  <% if flash[:error].present? %>
    <div id="errors">
      <h3>エラーがあります</h3>
      <ul>
        <% flash[:error].each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<% if @telephones.present? %>
  <ul class="list">
    <% @telephones.each do |tel| %>
      <li class="list-item">
        <span class="num">
        <%= tel.number %>
          <% if tel.cellphone %>
          <%= image_tag "cell.png", size: "20x30", alt: "telephone" %>
        <% end %>
        </span>

        <div class="right">
          <%= button_to "削除", [@friend, tel], { method: :delete, class: "hoge", data: { confirm: "本当に削除しますか?" } } %>
        </div>
      </li>
    <% end %>
<% else %>
  <p>電話番号データがありません。</p>
<% end %>
<div class="chkbox">
  <%= form_for [@friend, @telephone] do |form| %>
    <li class="list-item">
      <div class="left">
        <%= form.text_field :number, :placeholder => "電話番号" %>
        <%= form.check_box :cellphone, {}, "true", "false" %>
      </div>
      <div class="right">
        <%= form.submit :追加, class: "hoge" %>
      </div>
    </li>
  <% end %>
</div>
</ul>
<%= paginate @telephones %>
<div>
<%= link_to "<< TOPに戻る", :root,class: "link" %>
</div>