
<% if flash[:error].present? %>
  <P>エラーがあります</P>
  <ul class="errors">
    <% flash[:error].each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>
<h1><%= @aa %></h1> 
<% @page_title = "会員の詳細" %>
<h1><%= @page_title %></h1>
<h2><%= @friend.full_name %></h2>


<% if @telephones.present? %>
  <% @telephones.each do |tel| %>
    <h2><%= tel.number %>
      <%= link_to  "削除", telephone_path(tel.id,friend: @friend_id), method: :delete,
                                       data: { confirm: "本当に削除しますか?" }  %></h2>

    <% if tel.cellphone %>
      <h2>携帯</h2>
    <% else %>
     <h2>自宅</h2>

    <% end %>

  <% end %>
  <%= paginate @telephones %>

<% else %>
  <p>記事がありません。</p>

<% end %>

<%= form_for @telephone do |form| %>

  <table class="attr">
    <tr>
      <th><%= form.label :number, "電話番号" %></th>
      <td><%= form.text_field :number %></td>
      <td><%=form.check_box :cellphone,{ },"true","false"%></td>
      <%= hidden_field_tag :author, @friend_id %>
    </tr>
  </table>

  <div><%= form.submit :save %></div>
<% end %>

<%= menu_link_to "TOP", :root %>