<!--<div class="box">-->
<!--  <span class="box-title">CSS</span>-->
<!--  <p>ページネーションのデザイン<br></p>-->
<!--</div>-->

<div class="sidemidashi">
<h1>画像の出典</h1>
</div>
<h2 class="side_h">ヘッダー</h2>
<ul class="side_list">
  <li><%= link_to "pakutaso", "https://www.pakutaso.com/" %></li>
</ul>
<h2 class="side_h">ロゴ</h2>
<ul class="side_list">
  <li><%= link_to "MarkerMarkerfm", "http://emblemmatic.org/markmaker/#/" %></li>
</ul>
<h2 class="side_h">背景</h2>
<ul class="side_list">
  <li><%= link_to "イラスト工房", "http://www7b.biglobe.ne.jp/~yyyy/irustKA.html" %></li>
</ul>
<h2 class="side_h">アイコン</h2>
<ul class="side_list">
  <li><%= link_to "いらすとや", "https://www.irasutoya.com/" %></li>
</ul>

<div class="sidemidashi">
  <h1>サイト参考</h1>
</div>
<h2 class="side_h">ページネーション</h2>
<ul class="side_list">
  <li><%= link_to "bootstrap", "https://qiita.com/rio_threehouse/items/313824b90a31268b0074" %></li>
</ul>
<h2 class="side_h">バリデーション</h2>
<ul class="side_list">
  <li><%= link_to "バリデーション", "https://qiita.com/shogo452/items/2ac12f7d95a230ef9d02" %></li>
</ul>
<h2 class="side_h">javascript</h2>
<ul class="side_list">
  <li><%= link_to "javascript", "https://qiita.com/ntm718/items/c1c105099783e09504f0" %></li>
</ul>