<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- コード追加　Bootstrap JavaScript読み込みコード-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

  <header>
    <%= render "shared/header" %>
  </header>
  <div id="container">
  <main>
    <% if flash.notice %>
      <div class="notice">
      <p><%= flash.notice %></p>
      </div>
    <% end %>

    <%= yield %>
  </main>
  <aside id="sidebar">
    <%= render "shared/sidebar" %>
  </aside>

</div>
  <footer>
    <%= render "shared/footer" %>
  </footer>
</body>
</html>
